a {
  &:link {
    color: hsl(0, 0%, 21%);
  }
}

fieldset {
  border: 0;
}

.get-radios {
  display: none;
}

#form-spacer {
  width: 100%;
}

.submit-button-width {
  width: 120px;
}

.left-hero {
  display: inline;
  width: 500px;
  margin: 0;
}

.counter-banner {
  display: inline;
}

#stats {
  margin-bottom: 5%;
}

#footer {
  margin: 0;
  margin-top: 5%;
  padding-bottom: 30px;

  #donate {
    display: none;
  }

  .footer-item {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
  }
}

.spacer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.brandlinks {
  a:hover {
    color: hsl(171, 100%, 41%) !important;
  }
  a:visited {
    color: #363636;
  }
}

.searchsort {
  position: relative;
  margin-top: 50px;
  width: 90%;
  margin: 0 auto;
  float: none;

  .filter-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;

    .filter {
      width: auto;
    }
  }
}

.car-loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 5%;
  color: hsl(171, 100%, 41%);
}

#grid {
  margin-right: 2.5%;
  margin-left: 2.5%;
  height: auto;
  overflow: auto;
}

.vehicle-box {
  background-color: hsl(0, 0%, 86%);
  height: 300px;
  width: 20%;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 3px;

  &:hover {
    box-shadow: 0 0 0 0.125em hsl(0, 0%, 48%);
  }

  .vehicle-box-delete {
    position: absolute;
    right: 23px;
    top: 20px;
    cursor: pointer;

    &:hover {
      color: hsl(0, 0%, 14%);
    }
  }

  .vehicle-box-edit {
    position: absolute;
    right: 18px;
    top: 55px;
    cursor: pointer;

    &:hover {
      color: hsl(0, 0%, 14%);
    }
  }

  .vehicle-box-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: hsl(0, 0%, 96%);
    border-radius: 5px;
    color: hsl(0, 0%, 48%);
    width: 100%;
    height: 100%;

    span h1 {
      color: hsl(0, 0%, 48%);
    }

    &:hover {
      color: hsl(0, 0%, 14%);

      span h1 {
        color: hsl(0, 0%, 14%);
      }
    }
  }

  .vehicle-box-top {
    height: 90%;
  }

  .vehicle-box-bottom {
    height: 10%;
    background-color: hsl(348, 100%, 61%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.car-data {
  .car-make {
    text-transform: uppercase;
    font-size: 2.6em;
    padding-top: 15px;
    padding-left: 10%;
  }

  .car-element-container {
    float: left;
    width: 50%;
    padding: 15px;

    .car-element-label {
      text-transform: uppercase;
      font-size: 0.8em;
      text-align: center;
    }

    .car-element-data {
      font-size: 1.4em;
      text-transform: capitalize;
      text-align: center;
    }
  }
}

.bottom {
  margin-top: 5%;
  margin-bottom: 0;
  height: 100px;
  background-color: blue;
}

.warning {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: hsl(348, 100%, 61%);
  padding-left: 10%;
  padding-right: 10%;

  span {
    font-size: 1.2em;
    color: hsl(0, 0%, 29%);
  }
}

.logo {
  width: 100%;
  margin-bottom: 20px;

  #logo-label {
    width: 100%;
    text-align: center;
  }

  #logo-version {
    text-align: center;
  }
}

.github-link {
  margin: 0;

  #github-link-description {
    text-align: center;
  }

  #github-link-button {
    text-align: center;
    margin-top: 15px;
  }
}

.level {
  display: flex;
  flex-wrap: wrap;

  .stat-item {
    float: left;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .vehicle-box {
    width: 95%;
  }

  .searchsort {
    width: 90%;
  }

  .filter-group {
    display: block !important;
    .filter {
      width: 90%;
      margin-bottom: 15px;
    }
  }

  .spacer {
    display: block;
    width: 100%;
    margin: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .vehicle-box {
    width: 95%;
  }

  .spacer {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    margin: 0;

    #logo-label {
      display: inline;
      width: auto;
      text-align: left;
      margin-right: 15px;
    }

    #logo-version {
      display: inline;
      text-align: left;
      vertical-align: middle;
    }
  }

  .github-link {
    #github-link-description {
      display: none;
    }

    #github-link-button {
      margin: 0;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .vehicle-box {
    width: 45%;
  }

  .level {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;

    .stat-item {
      margin: 0;
      width: auto;
    }
  }

  #footer {
    #donate {
      display: block;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .vehicle-box {
    width: 28%;
  }

  .spacer {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .github-link {
    display: flex;
    align-items: center;
    width: auto;

    #github-link-description {
      display: block;
      float: left;
      margin-right: 15px;
    }

    #github-link-button {
      display: block;
    }
  }

  .two-lines {
    width: auto;
    margin-top: 10px;
  }

  #footer {
    margin: 0;
    margin-top: 5%;
    padding-bottom: 30px;

    .footer-item {
      width: auto;
      padding-top: 30px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .vehicle-box {
    width: 20%;
  }
  .searchsort {
    width: 50%;
  }
}
