a {
  &:link {
    color: hsl(0, 0%, 21%);
  }
}

.spacer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.brandlinks {
  a:hover {
    color: hsl(171, 100%, 41%) !important;
  }
  a:visited {
    color: #363636;
  }
}

.searchsort {
  position: relative;
  margin-top: 50px;
  width: 50%;
  margin: 0 auto;

  .filter-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;

    .filter {
      width: auto;
    }
  }
}

.car-loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 5%;
  color: hsl(171, 100%, 41%);
}

#grid {
  margin-right: 2.5%;
  margin-left: 2.5%;
  height: auto;
  overflow: auto;
}

.sizer-element {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.vehicle-box {
  background-color: hsl(0, 0%, 86%);
  height: 300px;
  width: 20%;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 3px;

  &:hover {
    box-shadow: 0 0 0 0.125em hsl(0, 0%, 48%);
  }

  .vehicle-box-delete {
    position: absolute;
    right: 23px;
    top: 20px;
    cursor: pointer;

    &:hover {
      color: hsl(0, 0%, 14%);
    }
  }

  .vehicle-box-edit {
    position: absolute;
    right: 18px;
    top: 55px;
    cursor: pointer;

    &:hover {
      color: hsl(0, 0%, 14%);
    }
  }

  .vehicle-box-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: hsl(0, 0%, 96%);
    border-radius: 5px;
    color: hsl(0, 0%, 48%);
    width: 100%;
    height: 100%;

    span h1 {
      color: hsl(0, 0%, 48%);
    }

    &:hover {
      color: hsl(0, 0%, 14%);

      span h1 {
        color: hsl(0, 0%, 14%);
      }
    }
  }

  .vehicle-box-top {
    height: 90%;
  }

  .vehicle-box-bottom {
    height: 10%;
    background-color: hsl(348, 100%, 61%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.car-data {
  .car-make {
    text-transform: uppercase;
    font-size: 3em;
    padding-top: 15px;
    padding-left: 20px;
  }

  .car-element-container {
    float: left;
    width: 50%;
    padding: 15px;

    .car-element-label {
      text-transform: uppercase;
      font-size: 0.8em;
      text-align: center;
    }

    .car-element-data {
      font-size: 1.4em;
      text-transform: capitalize;
      text-align: center;
    }
  }
}

.bottom {
  margin-top: 5%;
  margin-bottom: 0;
  height: 100px;
  background-color: blue;
}

.warning {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: hsl(348, 100%, 61%);
  padding-left: 10%;
  padding-right: 10%;

  span {
    font-size: 1.2em;
    color: hsl(0, 0%, 29%);
  }
}

.level {
  height: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .vehicle-box {
    width: 95%;
  }
  .sizer-element {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .vehicle-box {
    width: 95%;
  }

  .sizer-element {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .vehicle-box {
    width: 45%;
  }

  .sizer-element {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .vehicle-box {
    width: 28%;
  }

  .sizer-element {
    width: 33.3%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .vehicle-box {
    width: 20%;
  }

  .sizer-element {
    width: 25%;
  }
}
